/* nav bar ------------------------ */
.ant-menu:not(.ant-menu-horizontal),
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: white;
  color: #58595b;
  font-size: medium;
}
.ant-menu-submenu-arrow::before,
.ant-menu-submenu-arrow::after {
  background-color: #58595b;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item::after,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-submenu::after {
  border-right: none !important;
  transition: none !important;
}
.ant-menu {
  background-color: white;
}

.ant-menu-submenu-title:hover,
.ant-menu-submenu-selected,
.ant-menu-submenu-selected:hover {
  color: #de5c8e !important;
}

.ant-menu .ant-menu-inline-item:hover,
.ant-menu .ant-menu-inline-submenu:hover,
.ant-menu .ant-menu-item:hover,
.ant-menu .ant-menu-submenu:hover {
  color: #de5c8e;
}
.ant-menu .ant-menu-highlight {
  color: #de5c8e;
}
.ant-menu .ant-menu-item:focus {
  background-color: #f8e1ea;
}
.ant-menu .ant-menu-submenu-active {
  color: none !important;
}

.ant-menu-submenu:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-selected .ant-menu-submenu-arrow::before,
.ant-menu-submenu-selected .ant-menu-submenu-arrow::after,
.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after {
  background-color: #de5c8e;
}

/* step menu --------------------- */
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #de5c8e !important;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title,
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: #de5c8e;
}

.ant-steps-item-container > .ant-steps-item-content {
  margin-top: 40px;
  margin-left: 15px;
}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-tail::after,
.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-tail::after,
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #c4c4c4;
  height: 2px;
  margin-top: 20px;
  margin-left: 20px;
}

.ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-icon
  > .ant-steps-icon
  > .ant-steps-icon-dot {
  background-color: #c4c4c4;
  width: 40px;
  height: 40px;
}

.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-icon
  > .ant-steps-icon
  > .ant-steps-icon-dot,
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-icon
  > .ant-steps-icon
  > .ant-steps-icon-dot {
  background-color: #de5c8e;
  width: 40px;
  height: 40px;
}
.ant-steps.ant-steps-horizontal.ant-steps-label-vertical.ant-steps-dot {
  width: 75%;
  margin: auto;
}

/* div ----------------------- */
#header {
  width: 100%;
  background-color: #de5c8e;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#right-pane {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10;
  color: white;
}

.layout-ctn {
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
}

.layout-ctn-nobg {
  display:flex;
  flex-direction:column;
  height: 100%;
}

.content {
  background-color: white;
  padding: 40px;
  margin: 25px;
  width: 100%;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps-action{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

/* button --------------------- */
.primary-btn,
.primary-btn:hover,
.primary-btn:focus,
.primary-btn:active {
  background-color: #de5c8e;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: large;
  min-height: 50px;
  min-width: 100px;
}

.btn-column .primary-btn {
  width: 300px;
  margin-top: 10px;
}

[ant-click-animating-without-extra-node="true"]::after {
  opacity: 0;
}

/* input ----------------------- */
.input-text,
.input-text:hover,
.input-text:focus {
  color: #58595b;
  font-size: large;
  border: 1px solid #58595b;
  border-radius: 8px;
  box-shadow: none;
}

.checkbox-container {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  width: 17px;
  height: 17px;
  border: 1px solid #58595b;
  border-radius: 5px;
  margin-right: 8px;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #de5c8e;
  border: 1px solid #de5c8e;
  border-radius: 5px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;
  top: 9px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

/* label ------------------------ */
a,
label,
.ant-form label,
.ant-form-item-label > label {
  color: #58595b;
  font-size: large;
}

#smaller-label {
  font-size: medium;
}

.hr-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.hr-divider::before,
.hr-divider::after {
  content: "";
  border-bottom: 1px solid #58595b;
  flex: 1;
}

.hr-divider:not(:empty)::before {
  margin-right: 10px;
}

.hr-divider:not(:empty)::after {
  margin-left: 10px;
}