.ant-menu:not(.ant-menu-horizontal),
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background: white;
  color: #58595b;
}
.ant-menu-submenu-arrow::before,
.ant-menu-submenu-arrow::after{
    background-color: #58595b;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item::after,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-submenu::after {
  border-right: none !important;
  transition: none !important;
}
.ant-menu {
  background-color: white;
}

.ant-menu-submenu-title:hover,
.ant-menu-submenu-selected,
.ant-menu-submenu-selected:hover {
  color: #de5c8e !important;
}

.ant-menu .ant-menu-inline-item:hover,
.ant-menu .ant-menu-inline-submenu:hover,
.ant-menu .ant-menu-item:hover,
.ant-menu .ant-menu-submenu:hover {
  color: #de5c8e;
}
.ant-menu .ant-menu-highlight {
  color: #de5c8e;
}
.ant-menu .ant-menu-item:focus {
  background-color: #f8e1ea;
}
.ant-menu .ant-menu-submenu-active {
  color: none !important;
}

.ant-menu-submenu:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-selected .ant-menu-submenu-arrow::before,
.ant-menu-submenu-selected .ant-menu-submenu-arrow::after,
.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after {
  background-color: #de5c8e;
}

#header{
  width: 100%;
  background-color: #de5c8e;
  height:50px;
  display: flex;
  flex-direction: row;
  align-items:center; 
  justify-content:space-between;
}

#right-pane{
  display:flex; 
  flex-direction:row;
  align-items:center;
  margin-right: 10;
  color: white;
}

.layout-ctn{
  display:flex;
  flex-direction:column;
  background-color:#F0F2F5;
}

.content{
  background-color:white; 
  padding: 40px;
  margin: 25px; 
  width:100%;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after{
  background-color: #de5c8e !important;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title{
    color: #de5c8e;
  }

  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title{
    color: #de5c8e;
  }
.ant-steps-item-container
  > .ant-steps-item-content{
    margin-top: 40px;
    margin-left: 15px;
  }

.ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-tail::after,
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-tail::after,
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after{
  background-color: #C4C4C4 ;
  height: 2px;
  margin-top: 20px;
  margin-left: 20px;
}

.ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-icon
  > .ant-steps-icon
  >.ant-steps-icon-dot{
    background-color: #C4C4C4;
    width: 40px;
    height: 40px;
  }

.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-icon
  > .ant-steps-icon
  >.ant-steps-icon-dot,
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-icon
  > .ant-steps-icon
  >.ant-steps-icon-dot{
  background-color: #de5c8e;
  width: 40px;
  height: 40px;
}
.ant-steps.ant-steps-horizontal.ant-steps-label-vertical.ant-steps-dot{
  width: 85%;
  margin: auto;
}
