/* nav bar ------------------------ */
.ant-menu:not(.ant-menu-horizontal),
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: white;
  color: #58595b;
  font-size: medium;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #f8e1ea;
}

.ant-menu-submenu-arrow::before,
.ant-menu-submenu-arrow::after {
  background-color: #58595b;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item::after,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-submenu::after {
  border-right: none !important;
  transition: none !important;
}
.ant-menu {
  background-color: white;
}

.ant-menu-submenu-title:hover,
.ant-menu-submenu-selected,
.ant-menu-submenu-selected:hover {
  color: #de5c8e !important;
}

.ant-menu .ant-menu-inline-item:hover,
.ant-menu .ant-menu-inline-submenu:hover,
.ant-menu .ant-menu-item:hover,
.ant-menu .ant-menu-submenu:hover {
  color: #de5c8e;
}
.ant-menu .ant-menu-highlight {
  color: #de5c8e;
}
.ant-menu .ant-menu-item:focus {
  background-color: #f8e1ea;
}
.ant-menu .ant-menu-submenu-active {
  color: none !important;
}

.ant-menu-submenu:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-selected .ant-menu-submenu-arrow::before,
.ant-menu-submenu-selected .ant-menu-submenu-arrow::after,
.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after {
  background-color: #de5c8e;
}

.ant-menu-item .ant-menu-item-active .menuitem {
  background-color: transparent !important;
  color: #de5c8e;
}
.ant-menu-submenu-title:active {
  background-color: #f8e1ea !important;
}

/* step menu --------------------- */
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #de5c8e !important;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title,
.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: #de5c8e;
}

.ant-steps-item-container > .ant-steps-item-content {
  margin-top: 40px;
  margin-left: 15px;
}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-tail::after,
.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-tail::after,
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #c4c4c4;
  height: 2px;
  margin-top: 20px;
  margin-left: 20px;
}

.ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-icon
  > .ant-steps-icon
  > .ant-steps-icon-dot {
  background-color: #c4c4c4;
  width: 40px;
  height: 40px;
}

.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-icon
  > .ant-steps-icon
  > .ant-steps-icon-dot,
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-icon
  > .ant-steps-icon
  > .ant-steps-icon-dot {
  background-color: #de5c8e;
  width: 40px;
  height: 40px;
}
.ant-steps.ant-steps-horizontal.ant-steps-label-vertical.ant-steps-dot {
  width: 90%;
  margin: auto;
}

/* admin menu ------------------------------------- */
.ant-menu {
  color: #58595b;
  font-size: medium;
}

.ant-menu-horizontal {
  border-bottom: none;
}

.ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title {
  display: flex;
  align-items: center;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  border-bottom: 1px solid #c4c4c4;
  padding: 0 25px 0 20px;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #de5c8e;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: #de5c8e;
}

/* div ----------------------- */
#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #de5c8e;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 50px; /* Stay at the top */
  left: 0;
  overflow-x: hidden;
}

#right-pane {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10;
  color: white;
  font-size: large;
}

.layout-ctn {
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
}

.layout-ctn-nobg {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  background-color: white;
  padding: 40px;
  margin: 25px;
  margin-left: 205px;
  min-width: calc(100vw - 230px);
  min-height: calc(100vh - 100px);
  overflow: scroll;
}

.content.loading {
  cursor: progress;
}

.content::after{
  margin-right: 40px;
}
.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps-content-upload {
  width: 100%;
  min-height: 80%;
  max-height: 100%;
  padding: 35px 20px;
}

.steps-content-diagnosis {
  width: 100%;
  min-height: 76%;
  max-height: 100%;
  padding: 30px;
}

.steps-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.steps-action-1 {
  justify-content: flex-end !important;
}

.btn-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.info {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 10px;
  /*  margin-left: 30px; */
  font-size: medium;
  color: #58595b;
}

ol {
  display: list-item;
  margin-top: 10px;
  margin-bottom: 0;
  list-style-type: disc;
  padding-left: 2px;
  margin-left: 50px;
}

.upload-record-grid {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 5px;
}

.show-all-records-content {
  width: 100%;
  min-height: 93%;
  max-height: 100%;
}

.show-all-records-grid {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 5px;
}

.dicomImage-div {
  position: relative;
  margin: auto;
}
.loading-dicom,
#dicomViewImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #de5c8e;
}

.report-image-ctn {
  margin-top: 10px;
}

.label-tag .anticon {
  margin-right: 8px;
  position: relative;
  top: -3px;
}

.add-label-btn {
  flex: none;
  padding: 8px;
  display: block;
  cursor: pointer;
  font-size: medium;
  color: #58595b;
}

.add-label-btn:hover {
  color: #de5c8e;
}

/* button --------------------- */
.primary-btn,
.primary-btn:hover,
.primary-btn:focus,
.primary-btn:active {
  background-color: #de5c8e;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: large;
  height: 50px;
  min-width: 100px;
}

.primary-btn.smaller {
  height: 38px;
}

.primary-btn.popconfirm {
  min-width: 50px;
  height: 30px;
  font-size: small;
}

.btn-column .primary-btn {
  width: 300px;
  margin-top: 10px;
}

[ant-click-animating-without-extra-node="true"]::after {
  opacity: 0;
}

.ant-btn-link,
.ant-btn-link:hover,
.ant-btn-link:active,
.ant-btn-link:focus {
  color: #58595b;
}

.zoom-btn,
.zoom-btn:focus {
  background-color: #c4c4c4;
  color: #58595b;
  border: none;
  border-radius: 8px;
}

.zoom-btn:hover {
  background-color: #de5c8e;
  color: white;
  border: none;
  border-radius: 8px;
}

.reset-vp-btn,
.reset-vp-btn:focus {
  background-color: none;
  color: #58595b;
  border: none;
  box-shadow: none;
  font-size: medium;
  font-weight: bold;
  padding: 0px;
}

.reset-vp-btn > span + .anticon {
  position: relative;
  top: -3px;
  stroke-width: 30;
  stroke: #58595b;
}

.reset-vp-btn:hover {
  background-color: none;
  color: #de5c8e;
  border: none;
}

.reset-vp-btn:hover > span + .anticon {
  stroke: #de5c8e;
}

.annotate-tool-btn,
.annotate-tool-btn:hover {
  background-color: #c4c4c4;
  font-size: medium;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
  font-weight: bold;
  height: 40px;
  padding: 3px;
}

.selected-tool,
.annotate-tool-btn:focus {
  background-color: #de5c8e !important;
  color: white;
}

.annotate-tool-btn-ctn {
  padding: 3px 3px;
}

.annotate-tool-btn > span + .anticon {
  position: relative;
  top: -3px;
  stroke-width: 30;
  stroke: white;
}

/* input ----------------------- */
.input-text,
.input-text:hover,
.input-text:focus {
  color: #58595b;
  font-size: large;
  border: 1px solid #58595b;
  border-radius: 8px;
  box-shadow: none;
}

.input-text.smaller,
.input-text.smaller:hover,
.input-text.smaller:focus {
  font-size: medium;
}

.input-prev-edit-text,
.input-prev-edit-text:hover,
.input-prev-edit-text:focus {
  color: #58595b;
  font-size: medium;
  border: 1px solid #58595b;
  border-radius: 8px;
  box-shadow: none;
}

.ant-form-item-has-error
  :not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
.ant-form-item-has-error
  :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover,
.ant-form-item-has-error
  :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:focus {
  border-color: red;
  box-shadow: none;
}

.ant-form-item-explain.ant-form-item-explain-error {
  color: red;
}

.checkbox-container {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  width: 17px;
  height: 17px;
  border: 1px solid #58595b;
  border-radius: 5px;
  margin-right: 8px;
}

.checkbox-container input:checked ~ .checkmark,
.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-checked .ant-checkbox-inner:hover,
.ant-checkbox-checked .ant-checkbox-inner:focus {
  background-color: #de5c8e;
  border: 1px solid #de5c8e !important;
  border-radius: 5px;
}

.ant-checkbox-checked::after,
.ant-checkbox .ant-checkbox-inner:hover,
.ant-checkbox .ant-checkbox-inner:focus {
  border: 1px solid #de5c8e !important;
  border-radius: 5px;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: #de5c8e;
  border-radius: 1px;
}

.ant-checkbox .ant-checkbox-inner {
  border-radius: 5px;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #de5c8e;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;
  top: 9px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

.ant-checkbox-wrapper {
  color: #58595b;
  font-size: medium;
  font-weight: bold;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #58595b;
}

.ant-radio-inner,
.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: #58595b;
}

.ant-radio-input:focus + .ant-radio-inner {
  box-shadow: none;
}

.ant-radio-inner::after {
  background-color: #de5c8e;
}

.ant-radio-checked::after {
  border: none;
  animation: none;
  -webkit-animation: none;
  animation-fill-mode: none;
  -webkit-animation-fill-mode: none;
}

/* switch ----------------------- */
.ant-switch-checked:focus,
.ant-switch:focus,
.ant-switch {
  box-shadow: none;
}

.ant-switch-checked {
  background-color: #de5c8e;
}

.ant-switch {
  min-width: 25px;
  height: 18px;
}

.ant-switch-handle::before {
  width: 14px;
  height: 14px;
}

.ant-switch-handle {
  border-radius: 7px;
}

.ant-switch-checked .ant-switch-handle {
  left: calc(100% - 14px - 2px);
}
/* label ------------------------ */
a,
label,
.ant-form label,
.ant-form-item-label > label,
.project-lable {
  color: #58595b;
  font-size: large;
}

.ant-form.smaller-form-label label {
  font-size: medium;
}

label.clickable-label:hover {
  cursor: pointer;
}

#smaller-label {
  font-size: medium;
}

.clickable-icon:hover {
  cursor: pointer;
  color: #de5c8e;
}

.hr-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.hr-divider::before,
.hr-divider::after {
  content: "";
  border-bottom: 1px solid #58595b;
  flex: 1;
}

.hr-divider:not(:empty)::before {
  margin-right: 10px;
}

.hr-divider:not(:empty)::after {
  margin-left: 10px;
}

.annotate-tool-label {
  font-weight: bold;
  font-size: medium;
}

/* select dropdown ------------- */
.ant-select {
  font-size: large;
}

.ant-select-arrow {
  color: #58595b;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-select-focused:not(.ant-select-disabled)
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  color: #58595b;
  border: 1px solid #58595b !important;
  border-radius: 8px;
  box-shadow: none !important;
  width: 300px;
  height: 38px;
  padding-top: 3px;
}

.search-component.ant-select:not(.ant-select-customize-input)
  .ant-select-selector,
.search-component.ant-select-focused:not(.ant-select-disabled)
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  width: 200px;
}

.search-component.wider.ant-select:not(.ant-select-customize-input)
  .ant-select-selector,
.search-component.wider.ant-select-focused:not(.ant-select-disabled)
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  width: 243px;
}

.ant-select-single .ant-select-selector .ant-select-selection-search {
  top: 3px;
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #d9d9d9 !important;
}

.ant-select-dropdown .ant-select-dropdown-placement-bottomLeft {
  border-radius: 8;
}

.ant-select-item {
  color: #58595b !important;
  font-size: large !important;
  min-height: 38px;
  padding-top: 8px;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #f8e1ea !important;
  font-weight: normal !important;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  color: #de5c8e !important;
}

.select-label {
  border-color: #58595b;
  color: #58595b !important;
  font-size: medium;
  border-radius: 8px;
}

.select-label:hover,
.select-label:focus {
  border-color: #de5c8e;
  box-shadow: none !important;
}

.label-selector {
  text-align: left;
}

.label-selector .ant-select-item{
  font-size: medium !important;
}

/* collapse ------------------*/

.ant-collapse-icon-position-right
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow {
  right: auto;
  left: 170px;
}

.ant-collapse > .ant-collapse-item:last-child,
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  font-size: medium;
  color: #58595b;
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  padding-left: 0;
}

.ant-collapse-ghost
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding-top: 0;
}

/* tag ---------------- */
.ant-tag {
  font-size: medium;
}

.brown {
  background-color: #f8cba7;
  border-color: #ab5814;
  color: #ab5814;
}

.pink {
  background-color: #ffd4e5;
  border-color: #de5c8e;
  color: #de5c8e;
}

.yellow {
  background-color: #fff1c8;
  border-color: #c69c25;
  color: #c69c25;
}

/* date picker ---------------- */
.ant-picker,
.ant-picker:hover {
  box-shadow: none;
  border-radius: 8px;
  border-color: #58595b;
  height: 38px;
}

.ant-picker-today-btn {
  color: #58595b;
}

.ant-picker-today-btn:hover,
.ant-picker-header-view button:hover {
  color: #de5c8e;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  color: #fff;
  background: #de5c8e;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner:before {
  border-color: #de5c8e;
}

.ant-picker-input > input,
.ant-picker-input > input::placeholder {
  font-size: large;
  color: #58595b;
}

.ant-picker-input > input::placeholder {
  color: transparent;
}

.ant-picker-body table tbody {
  overflow: hidden;
}

.anticon.anticon-calendar {
  color: #58595b;
}

/* modal ------------- */

.ant-modal-header {
  border-bottom: none;
}

.ant-modal-title,
.ant-modal-body {
  text-align: center;
  font-size: large;
  color: #58595b;
}

.img-modal .ant-modal-body {
  padding: 0 24px 24px 24px;
}

.ant-modal-confirm-body > .anticon {
  font-size: 40px;
  color: #e9c869 !important;
}

.ant-modal-confirm .ant-modal-confirm-btns .ant-btn + .ant-btn,
.ant-modal-confirm .ant-modal-confirm-btns .ant-btn + .ant-btn:hover {
  background-color: #de5c8e;
  border: none;
  border-radius: 8px;
  font-size: medium;
  font-weight: bold;
}

.ant-modal-confirm .ant-modal-confirm-btns .ant-btn,
.ant-modal-confirm .ant-modal-confirm-btns .ant-btn:hover {
  background-color: #c4c4c4;
  border: none;
  border-radius: 8px;
  font-size: medium;
  font-weight: bold;
  color: white;
}

.ant-modal-confirm-body .ant-modal-confirm-content {
  color: #58595b;
  font-size: medium;
}

.ant-modal-confirm-body .ant-modal-confirm-title {
  font-size: large;
  color: #58595b;
}

.label-selector-modal .ant-modal-confirm-body > .anticon {
  width: 0px;
  height: 0px;
  display: none;
}

.label-selector-modal
  .ant-modal-confirm-body
  > .anticon
  + .ant-modal-confirm-title
  + .ant-modal-confirm-content {
  margin-left: 0px;
}

.label-selector-modal .ant-modal-confirm-body .ant-modal-confirm-content {
  margin-top: 24px;
}

/* popconfirm -------------------- */
.ant-popover-buttons {
  display: flex;
  justify-content: center;
}

.ant-popover-message-title {
  color: #58595b;
  font-weight: 500;
}

/* table ------------------------- */
tbody {
  display: block;
  overflow: scroll;
}

.seven-rows-table tbody {
  max-height: 287px; /* 7 rows */
}

.seven-rows-table.with-tag tbody {
  max-height: 288px; /* 7 rows */
}

.three-rows-table tbody {
  max-height: 123px; /* 3 rows */
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.ant-table-thead > tr > th {
  background: rgba(88, 89, 91, 0.7);
  font-size: medium;
  font-weight: bold;
  color: white;
  border: unset;
  text-align: center;
}

.ant-table-small .ant-table-thead > tr > th {
  background-color: rgba(88, 89, 91, 0.7);
}

.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 0;
}

.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  content: none;
}

.ant-table-tbody > tr:nth-child(odd) {
  background-color: #e5e5e5;
}

.ant-table-tbody > tr:nth-child(even) {
  background-color: white;
}

.ant-table-tbody > tr > td {
  color: #58595b;
  font-size: medium;
  border: unset;
  text-align: center;
}

.ant-table .ant-table-tbody > tr:hover > td {
  background: unset;
}

.clickable-table .ant-table .ant-table-tbody > tr:hover > td {
  background: #f8e1ea;
  cursor: pointer;
}

.ant-table-tbody > tr.ant-table-row-selected > td {
  background: #f8e1ea;
}

td.ant-table-column-sort {
  background-color: transparent;
}

.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
  color: #ffb9d3;
}

.ant-table-thead th.ant-table-column-has-sorters:hover {
  background-color: rgba(88, 89, 91, 0.7);
}

.report-table tbody {
  overflow: scroll;
  max-height: 200px;
}

table tr th.ant-table-selection-column,
table tr td.ant-table-selection-column {
  width: 10%;
  min-width: 25px;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 10px;
}

.ant-table-thead th.ant-table-column-sort {
  background: rgba(88, 89, 91, 0.7);
}
.ant-table-tbody > tr.ant-table-row-selected > td {
  background: #f8e1ea;
  border: none;
}

.annotate-table tbody {
  overflow: scroll;
  height: 270px;
  background-color: rgb(229 229 229);
}

.annotate-table .ant-table-tbody > tr > td {
  padding: 4px 4px !important;
}
.annotate-table .ant-table-tbody > tr > td:nth-child(even) {
  width: 100px;
  text-align: right;
}
.annotate-table .ant-table-tbody > tr > td:nth-child(odd) {
  text-align: left;
  padding: 0 15px !important;
}

.annotate-table .ant-table-empty .ant-table-tbody > tr.ant-table-placeholder {
  height: 270px;
}

.selected-layer {
  background: #f8e1ea !important;
}

/* dot ------------- */
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

/* popover ------------*/
.ant-popover-inner-content {
  padding: 10px;
  max-width: 500px;
}

/* image ------------ */
.ant-image-img {
  width: auto;
}

/* card ------------ */
.ant-card,
.ant-card:hover {
  box-shadow: none;
  border-radius: 8px;
  border-color: #58595b;
  color: #58595b;
}

.ant-card:hover {
  background-color: #f0f0f0;
}

.ant-card:focus {
  background-color: #f8e1ea;
}

.ant-card-hoverable {
  transition-delay: 20ms;
  transition-property: background-color;
}

.ant-card-body {
  padding: 12px;
}

/* slider ----------------- */
.ant-slider-handle {
  border: none;
  background-color: #de5c8e;
}

.ant-slider-handle:focus {
  box-shadow: none;
}

.ant-slider:hover .ant-slider-rail,
.ant-slider-rail {
  background-color: #c4c4c4;
}
.ant-slider-track,
.ant-slider:hover .ant-slider-track {
  background-color: #de5c8e;
}
/* checkbox ------- */
